* {
  padding: 0px;
  margin: 0px;
}

input:focus {
  outline: none;
  color: dimgrey;
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
  color: dimgrey;
  border: none;
}

select:focus {
  outline: none;
  color: dimgrey;
  border: none;
}

textarea:focus {
  outline: none;
  color: dimgrey;
  background: transparent;
  border: none;
  border-bottom: rgb(136, 136, 136) 1px solid;
}

.App-logo {
  height: 40vmin;
}

.UserText {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

.Main {
  grid-column: 1/6;
  grid-row: 2/3;
}

.App-Header {
  background: #8ac2d3;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 200px 300px 300px 300px;
  grid-template-rows: 100px;
  color: white;
  grid-row: 1/2;
  grid-column: 1/6;
}

.App-link {
  color: #09d3ac;
}

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/1;
  font-family: "Alata", sans-serif;
  font-size: 50px;
  color: black;
  height: 100px;
  width: 1fr;
  text-align: center;

  /* border: 1px black solid; */
}

.HomeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/1;
  text-decoration: none;
  margin-right: 20%;
  /* border: 1px black solid; */
}

.SearchBar {
  grid-column: 3/4;
  grid-row: 1/3;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  height: 100px;
  background: transparent;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: 30% 20% 20% 30%;
  /* border: 1px black solid; */
}

.SearchInput {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 16%;
  height: 30px;
  text-align: center;
  font-family: "Alata", sans-serif;
  font-size: 15px;
  background: transparent;
  border: black, 1px, solid;
  color: dimgrey;
}

.SearchButtonLabel {
  grid-column: 2/4;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchButton {
  background: rgb(212, 212, 212);
  border: none;
  height: 30px;
  width: 50px;
  margin-left: 15px;
  text-align: center;
  font-family: "Alata", sans-serif;
  border-radius: 0.5mm;
  cursor: pointer;
}

.Username {
  grid-column: 4/5;
  grid-row: 1/1;
  font-family: "Alata", sans-serif;
  font-size: 40px;
  /* border: 1px black solid; */
  color: dimgrey;
  /* height: 100px; */
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 27%;
}

.Login {
  grid-column: 5/6;
  grid-row: 1/1;
  font-family: "Alata", sans-serif;
  /* border: 1px black solid; */
  height: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.LoginForm {
  grid-column: 1/3;
  font-family: "Alata", sans-serif;
  /* border: 1px black solid; */
  /* height: 100px; */
  display: grid;
  grid-template-columns: 160px 60px 10px;
  grid-template-rows: 10px 30px 10px;
  padding: 25px;
}

.LogoutForm {
  grid-column: 1/4;
  font-family: "Alata", sans-serif;
  /* border: 1px black solid; */
  /* height: 100px; */
  display: grid;
  grid-template-columns: 160px 60px 10px;
  grid-template-rows: 10px 30px 10px;
  padding: 25px;
}

.LoginSelect {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: 1px black solid; */
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 0.5mm;
  font-family: "Alata", sans-serif;
  background: rgb(214, 214, 214);
  /* margin-top: 0px; */
}

.LoginSelect {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: 1px black solid; */
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 0.5mm;

  /* margin-top: 0px; */
}

.LoginButton {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 60px;
  /* border: 1px black solid; */
  background: rgb(214, 214, 214);
  border-radius: 0.5mm;
  font-family: "Alata", sans-serif;
}

.LogoutButton {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 60px;
  /* border: 1px black solid; */
  background: rgb(214, 214, 214);
  border-radius: 0.5mm;
  font-family: "Alata", sans-serif;
}

.ArticleDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(1fr 4) 1fr;
  grid-row: 2/3;
  height: 650px;
  background: #f0fafd;
}

/* .ArticleDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(1fr 4) 1fr;
  grid-row:2/3;
  background: #f0fafd;
} */

.ArticlesHeader {
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: "Alata", sans-serif;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 50px;
}

.Sort {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  /* border: 1px black solid; */
  grid-column: 4/5;
  grid-row: 1/3;
  /* height: 100px; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  color: dimgrey;
  margin-top: 10px;
  margin-right: 15px;
}

.SortBy {
  grid-row: 1/2;
  color: dimgrey;
}

.SortOrder {
  grid-row: 2/3;
  color: dimgrey;
}

.SortLink {
  grid-row: 3/4;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 1mm;
  font-family: "Alata", sans-serif;
  height: 20px;
  width: 150px;
  margin-left: 95px;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.SortSelect {
  /* border: 1px black solid; */
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 0.5mm;
  font-size: 15px;
  color: dimgrey;
  background: transparent;

  /* margin-top: 0px; */
}

.OrderSelect {
  /* border: 1px black solid; */
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 0.5mm;
  font-size: 15px;
  color: dimgrey;
  background: transparent;
}

.IndividualHeader {
  grid-column: 1/4;
  grid-row: 1/1;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 0px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Alata", sans-serif;
  height: auto;
  border-bottom: 3px rgb(80, 79, 79) solid;
}

.IndiHeaderTitle {
  grid-row: 1/2;
  font-family: "Alata", sans-serif;
  font-size: 25px;
  color: rgb(80, 79, 79);
  height: auto;
  text-align: left;
  margin-left: 10px;
}

.IndiHeaderAuthor {
  grid-row: 2/3;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  color: rgb(80, 79, 79);
  text-align: left;
  margin-top: 5px;
  margin-left: 11px;
}

.IndiHeaderTopic {
  grid-row: 3/4;
  font-family: "Alata", sans-serif;
  color: rgb(80, 79, 79);
  font-size: 12px;
  text-align: left;
  margin-left: 13px;
  margin-top: 5px;
}

.IndiHeaderDate {
  grid-row: 3/4;
  grid-column: 2/3;
  font-family: "Alata", sans-serif;
  font-size: 10px;
  text-align: left;
  margin-left: 13px;
  margin-top: 5px;
  color: rgb(80, 79, 79);
  font-size: 12px;
}

.IndiHeaderVotes {
  grid-row: 1/2;
}

.ArticleVotes {
  grid-column: 2/3;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 10% 30% 20% 30% 10%;
  margin-top: 0px;
  height: 50px;
  width: 350px;
}

.ArticleVoteCount {
  grid-column: 3/4;
  width: 20px;
  background: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Alata", sans-serif;
  justify-content: center;
  margin-left: 23px;
  margin-bottom: 5px;
  font-size: 30px;
  color: dimgrey;
}

.ArticleUp {
  grid-column: 2/3;
  background: rgb(202, 202, 202);
  height: 20px;
  width: 100px;
  border-radius: 2mm;
  font-family: "Alata", sans-serif;
  align-content: center;
  cursor: pointer;
  margin-top: 15px;
}

.ArticleDown {
  grid-column: 4/5;
  background: rgb(202, 202, 202);
  height: 20px;
  width: 100px;
  font-family: "Alata", sans-serif;
  border-radius: 2mm;
  align-content: center;
  cursor: pointer;
  margin-top: 15px;
}

.ArticleBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  grid-column: 1/3;
  grid-row: 2/5;
  font-family: "Alata", sans-serif;
  color: dimgrey;
  text-align: left;
  margin: 15px;
  /* border: 1px black solid */
}

.ArticleTitle {
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  text-align: left;
}

.ArticleAuthor {
  grid-row: 2/2;
  font-family: "Alata", sans-serif;
  font-size: 15px;
  text-align: left;
}

.ArticleTopic {
  grid-column: 1/2;
  grid-row: 3/3;
  font-family: "Alata", sans-serif;
  font-size: 12px;
  width: 1fr;
  text-align: left;
}

.ArticleDate {
  grid-column: 2/4;
  grid-row: 3/3;
  font-family: "Alata", sans-serif;
  font-size: 12px;
  width: 1fr;
  text-align: left;
}

.ArticleVotes {
  grid-column: 3/3;
  grid-row: 1/3;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  display: grid;
  width: 1fr;
  text-align: left;
}

.ArticleBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
  grid-column: 1/4;
  grid-row: 2/2;
  font-family: "Alata", sans-serif;
  font-size: 17px;
}

.ShowComments {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column: 4/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80px;
  height: 100px;
}

.CommentButtonText {
  font-size: 15px;
}

.CommentsButton {
  grid-row: 1/3;
  margin-top: 30px;
  height: 30px;
  width: 150px;
  margin-left: 128px;
  font-family: "Alata", sans-serif;
  background: rgb(202, 202, 202);
  border-radius: 0.5mm;
}

.LeaveComment {
  grid-column: 4/4;
  grid-row: 1/2;
  height: 75px;
  width: 350px;
  display: flex;
  outline: none;
  background: transparent;
  font-family: "Alata", sans-serif;
  font-size: 12px;
  border: none;
  border-bottom: rgb(136, 136, 136) 1px solid;
}

.PleaseLogIn {
  font-family: "Alata", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.CommentList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 530px;
  grid-column: 4/4;
  grid-row: 2/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.ShowCommentsButton {
  grid-column: 1/1;
  grid-row: 1/2;
}

.LeaveCommentButton {
  background: rgb(214, 214, 214);
  height: 50px;
  width: 70px;
  border: none;
  border-radius: 0.5mm;
  font-family: "Alata", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Loading {
  text-align: center;
}

.ArticlesList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 550px;
  grid-column: 1/5;
  grid-row: 2/9;
  font-family: "Alata", sans-serif;
  font-size: 30px;
}

.ListItemEven {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  background: #f0fafd;
  width: 3fr;
  height: 120px;
  font-family: "Alata", sans-serif;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.ListItemOdd {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 120px;
  text-align: center;
  border-radius: 2mm;
  font-family: "Alata", sans-serif;
  background: white;
  align-content: center;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.ArticleListItem {
  grid-column: 1/3;
  grid-row: 1/4;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 12px;
  border-right: #d7e2e6 5px solid;
}

.ArtCardTitle {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
  color: dimgrey;
}

.ArtCardAuthorBlock {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: left;
  font-size: 15px;
  color: dimgrey;
  display: grid;
  margin-left: 20px;
}

.ArtCardTopic {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 20px;
  text-align: left;
  font-size: 12px;
  color: dimgrey;
}

.ArtCardDate {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: left;
  font-size: 12px;
  color: dimgrey;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  margin-right: 5px;
}

.ArtCardComments {
  margin-right: 5px;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 12px;
  color: dimgrey;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.ArtCardVotes {
  grid-column: 2/2;
  grid-row: 1/2;
  /* margin-left: 30px; */
  text-align: left;
  font-size: 10px;
  color: dimgrey;
  height: 80px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ArtCardVoteCount {
  grid-column: 2/3;
  background: none;
  border: none;
  display: flex;
  margin-top: 30%;
  font-family: "Alata", sans-serif;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-size: 40px;

  /* width: 30px */
}

.ArtCardUp {
  grid-column: 1/2;
  width: 55%;
  margin-top: 41%;
  margin-left: 50%;
  background: rgb(202, 202, 202);
  font-family: "Alata", sans-serif;
  height: 35%;
  border-radius: 2mm;
  align-content: center;
  cursor: pointer;
}

.ArtCardDown {
  grid-column: 3/4;
  background: none;
  background: rgb(202, 202, 202);
  font-family: "Alata", sans-serif;
  border-radius: 2mm;
  height: 35%;
  width: 55%;
  align-content: center;
  margin-top: 41%;
  margin-right: 50%;
  cursor: pointer;
}

.ArrowUpButton {
  grid-column: 1/2;
  background: none;
  border: none;
}

.ArrowDownButton {
  grid-column: 3/4;
  background: none;
  border: none;
}

.CommentEven {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 2fr;
  background: #f0fafd;
  width: 3fr;
  font-family: "Alata", sans-serif;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  column-gap: 0px;
}

.CommentOdd {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 2fr;
  background: white;
  width: 3fr;
  /* height: 8%; */
  font-family: "Alata", sans-serif;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  column-gap: 0px;
}

.CommentAuthor {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 10px;
  text-align: left;
  font-size: 15px;
  color: dimgrey;
}

.CommentBody {
  grid-column: 1/4;
  grid-row: 2/2;
  text-align: left;
  font-size: 12px;
  color: dimgrey;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 20px;
}

.CommentDate {
  grid-column: 3/3;
  grid-row: 3/4;
  margin-left: 20px;
  margin-right: 6px;
  text-align: left;
  font-size: 8px;
  color: dimgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CommentVotes {
  grid-column: 3/3;
  grid-row: 1/2;
  text-align: left;
  font-size: 8px;
  color: dimgrey;
  height: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
}

.CommentVoteCount {
  grid-column: 3/4;
  background: none;
  border: none;
  display: flex;
  font-family: "Alata", sans-serif;
  font-size: 12px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 20px;
  margin-top: 2px;
  margin-left: 5px;
}

.CommentUp {
  grid-column: 2/3;
  background: none;
  /* border: none; */
  border-radius: 0.5mm;
  font-family: "Alata", sans-serif;
  background: rgb(214, 214, 214);
  font-size: 10px;
  height: 1fr;
  width: 60px;
}

.CommentDown {
  grid-column: 4/5;
  background: none;
  border-radius: 0.5mm;
  /* border: none; */
  font-family: "Alata", sans-serif;
  background: rgb(214, 214, 214);
  font-size: 10px;
  height: 1fr;
  width: 60px;
}

.DeleteComment {
  grid-column: 2/2;
  grid-row: 1/2;
  margin-left: 20px;
  text-align: center;
  font-size: 8px;
  height: 25px;
  width: 50px;
  background: rgb(202, 202, 202);
  font-family: "Alata", sans-serif;
  border-radius: 0.5mm;
}

@media only screen and (max-width: 1400px) {
  .SearchInput {
    /* font-size: 13px; */
    margin-top: 15%;
    margin-left: 70px;
  }

  .Login {
    margin-left: 70px;
  }

  .HomeButton {
    margin-left: 60px;
  }

  .Logo {
    margin-left: 25px;
    font-size: 40px;
  }

  .Username {
    margin-left: 80px;
  }

  .App-Header {
    grid-template-columns: 200px 100px 350px 250px 100px;
  }
}

/* @media only screen and (max-width: 1325px) {
  .SearchInput {
    font-size: 13px;
    margin-top: 18%;
  }
} */

/* @media only screen and (max-width: 1275px) {
  .SearchInput {
    font-size: 13px;
    margin-top: 19%;
  }
} */

@media only screen and (max-width: 1265px) {
  .App-Header {
    grid-template-columns: 200px 100px 350px 200px 1fr;
  }

  .Username {
    font-size: 12px;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 1210px) {
  .App-Header {
    grid-template-columns: 200px 100px 350px 150px 1fr;
  }

  .Username {
    font-size: 12px;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 1140px) {
  .App-Header {
    grid-template-columns: 200px 100px 350px 100px 1fr;
  }

  .Username {
    font-size: 12px;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1098px) {
  .App-Header {
    grid-template-columns: 200px 100px 250px 170px 1fr;
  }

  .HomeButton {
    margin-left: 25px;
  }

  .SearchInput {
    margin-left: 10px;
    margin-top: 35px;
  }

  .SearchBar {
    width: 250px;
    grid-template-columns: 200px 50px;
  }

  .SearchButton {
    grid-column: 2/3;
    margin-left: 0px;
  }

  .Username {
    font-size: 12px;
    margin-left: 35%;
  }
}

@media only screen and (max-width: 1066px) {
  .App-Header {
    grid-template-columns: 200px 100px 250px 125px 1fr;
  }

  .Username {
    font-size: 12px;
    margin-left: 29%;
  }
}

@media only screen and (max-width: 1013px) {
  .App-Header {
    grid-template-columns: 200px 100px 250px 100px 1fr;
  }

  .Username {
    font-size: 12px;
    margin-left: 23%;
  }
}

@media only screen and (max-width: 980px) {
  .App-Header {
    grid-template-columns: 200px 100px 250px 80px 1fr;
  }

  /* .Username {
    font-size: 12px;
    margin-left: 23%;
  } */
}

@media only screen and (max-width: 980px) {
  .App-Header {
    grid-template-columns: 200px 100px 250px 70px 1fr;
  }

  .Username {
    font-size: 12px;
    margin-left: 12%;
  }
}

@media only screen and (max-width: 980px) {
  .App-Header {
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 75px 75px;
  }

  .App {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto 1fr;
  }

  .Logo {
    text-align: center;
    font-size: 50px;
    display: flex;
    align-content: center;
  }

  .SearchBar {
    margin-left: 15%;
  }

  .SearchButton {
    margin-top: 4px;
    margin-left: 5px;
  }

  .HomeButton {
    margin-top: 30px;
    margin-left: 50%;
  }

  .Username {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 12px;
    margin-left: 40%;
    margin-top: 25px;
  }

  .Login {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-right: 75px;
    display: flex;
  }

  .Main {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 790px) {
  .ArticlesHeader {
    font-size: 45px;
    /* height: 50px; */
    margin-top: 10px;
  }
}

@media only screen and (max-width: 730px) {
  .ArticlesHeader {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .Login {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 680px) {
  .SearchBar {
    margin-left: 5%;
  }

  .Logo {
    margin-left: 20%;
  }

  .HomeButton {
    margin-left: 35%;
  }
}

@media only screen and (max-width: 650px) {
  .Main {
    margin-top: 130px;
  }

  .App-Header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 60px 75px;
  }

  .Username {
    grid-row: 3/4;
  }

  .Login {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .SearchBar {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 30%;
    width: 50%;
  }

  .Logo {
    grid-column: 1/2;
    /* width: 100px; */
    margin-left: 35%;
  }

  .HomeButton {
    grid-column: 2/3;
    width: 50px;
    margin-left: 40%;
    margin-top: 45px;
  }
}

@media only screen and (max-width: 638px) {
  .Logo {
    font-size: 45px;
  }
}

@media only screen and (max-width: 588px) {
  .Logo {
    font-size: 45px;
  }
}

@media only screen and (max-width: 551px) {
  .Logo {
    font-size: 30px;
    width: 50%;
  }

  .HomeButton {
    grid-column: 2/3;
    width: 50%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    margin-top: 45px;
  }

  .App-Header {
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 60px 75px 50px;
  }

  .SearchBar {
    grid-column: 1/3;
    /* margin-right: 80%; */
    margin-left: 25%;
    width: 30%;
  }

  .Username {
    grid-column: 1/3;
    grid-row: 4/5;
    margin-top: 0px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  .Login {
    grid-column: 1/3;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .Main {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 449px) {
  .App-Header {
    grid-template-rows: 70px 60px 75px 50px;
  }

  .SearchBar {
    margin-left: 20%;
    margin-right: 20%;
  }

  .Logo {
    margin-left: 40%;
    width: 60%;
  }

  .Login {
    grid-column: 1/3;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

  .Username {
    grid-column: 1/3;
    grid-row: 4/5;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }

  .Main {
    margin-top: 170px;
  }
}

@media only screen and (max-width: 425px) {
  .App-Header {
    grid-template-rows: 70px 50px 60px 75px 50px;
  }

  .SearchBar {
    grid-row: 3/4;
    margin-left: 20%;
    width: 20%;
  }

  .Logo {
    grid-column: 1/3;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }

  .Login {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-left: 20%;
    width: 50%;
  }

  .Username {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-left: 33%;
    width: 40%;
  }

  .HomeButton {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }

  .Main {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 417px) {
  .Logo {
    font-size: 30px;
    width: 100%;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 320px) {
  .Logo {
    font-size: 30px;
    width: 100%;
    margin-top: 5%;
    margin-right: 50%;
  }
}

@media only screen and (max-width: 407px) {
  .Logo {
    font-size: 30px;
    width: 100%;
    margin-top: 3%;
    margin-left: 20%;
  }
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 6fr;
  text-align: center;
  height: 100vh;
}
