* {
  padding: 0px;
  margin: 0px;
}

input:focus{
  outline: none;
    color: dimgrey;
    background: transparent;
    border: none;
}

button:focus {
  outline: none;
    color: dimgrey;
    border: none;
}

select:focus {
  outline: none;
    color: dimgrey;
    border: none;
}

textarea:focus {
    outline: none;
    color: dimgrey;
    background: transparent;
    border: none;
    border-bottom: rgb(136, 136, 136) 1px solid;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 6fr 1fr;
  text-align: center;
  /* border: 1px black solid; */
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.UserText {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

.Main {
  grid-column: 1/6;
  grid-row: 2/3;
}

/* d9e3e6 */

.App-Header {
  background:  #8ac2d3;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5 1fr);
  grid-template-rows: 100px;
  color: white;
  grid-row: 1/2;
  grid-column: 1/6;
  /* position: static; */
}

.App-link {
  color: #09d3ac;
}

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/1;
  font-family: 'Alata', sans-serif;
  font-size: 50px;
  color: black;
  height: 100px;
  width: 1fr;
  text-align: center;
  /* border: 1px black solid; */
}

.HomeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/1;
  text-decoration: none;
  margin-right: 20%;
    /* border: 1px black solid; */
}

.SearchBar {
  grid-column:3/4;
  grid-row: 1/3;
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  height: 100px;
  background: transparent;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: 30% 20% 20% 30%;
  /* border: 1px black solid; */

}

.SearchInput {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 16%;
  height: 30px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  background: transparent;
  border: none;
  color: dimgrey
}

.SearchButtonLabel {
  grid-column: 2/4;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchButton {
  background: rgb(212, 212, 212);
  border: none;
  height: 30px;
  width: 50px;
  margin-left: 15px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  border-radius: 0.5mm;
  cursor: pointer;
}


.Username {
  grid-column: 4/5;
  grid-row: 1/1;
  font-family: 'Alata', sans-serif;
  font-size: 40px;
  /* border: 1px black solid; */
  color: dimgrey;
  /* height: 100px; */
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 27%
}

.Login {
  grid-column: 5/6;
  grid-row: 1/1;
  font-family: 'Alata', sans-serif;
  /* border: 1px black solid; */
  height: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.LoginForm {
  grid-column: 1/3;
  font-family: 'Alata', sans-serif;
  /* border: 1px black solid; */
  /* height: 100px; */
  display: grid;
  grid-template-columns: 160px 60px 10px;
  grid-template-rows: 10px 30px 10px;
  padding: 25px;
}

.LogoutForm {
  grid-column: 1/4;
  font-family: 'Alata', sans-serif;
  /* border: 1px black solid; */
  /* height: 100px; */
  display: grid;
  grid-template-columns: 160px 60px 10px;
  grid-template-rows: 10px 30px 10px;
  padding: 25px;
}

.LoginSelect {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: 1px black solid; */
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 0.5mm;
  font-family: 'Alata', sans-serif;
  background: rgb(214, 214, 214);
  /* margin-top: 0px; */
}

.LoginSelect {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: 1px black solid; */
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 0.5mm;

  /* margin-top: 0px; */
}

.LoginButton {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 60px;
  /* border: 1px black solid; */
  background: rgb(214, 214, 214);
  border-radius: 0.5mm;
  font-family: 'Alata', sans-serif;
}

.LogoutButton {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 60px;
  /* border: 1px black solid; */
  background: rgb(214, 214, 214);
  border-radius: 0.5mm;
  font-family: 'Alata', sans-serif;
}

.ArticleDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(1fr 4) 1fr;
  grid-row:2/3;
  height: 650px;
  background: #f0fafd;
}

/* .ArticleDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(1fr 4) 1fr;
  grid-row:2/3;
  background: #f0fafd;
} */

.ArticlesHeader {
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: 'Alata', sans-serif;  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 50px;
}

.Sort {
  font-family: 'Alata', sans-serif;  font-size: 15px;
  /* border: 1px black solid; */
  grid-column: 4/5;
  grid-row: 1/3;
  /* height: 100px; */
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  color: dimgrey;
  margin-top: 10px;
  margin-right: 15px;
}

.SortBy {
  grid-row: 1/2;
  color: dimgrey;
}

.SortOrder {
  grid-row: 2/3;
  color: dimgrey;
}

.SortLink {
  grid-row: 3/4;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 1mm;
  font-family: 'Alata', sans-serif;
  height: 20px;
  width: 150px;
  margin-left: 95px;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.SortSelect {
  /* border: 1px black solid; */
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 0.5mm;
  font-size: 15px;
  color: dimgrey;
  background: transparent;

  /* margin-top: 0px; */
}

.OrderSelect {
  /* border: 1px black solid; */
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 0.5mm;
  font-size: 15px;
  color: dimgrey;
  background: transparent;
  /* margin-top: 0px; */
}

.IndividualHeader {
  grid-column: 1/4;
  grid-row: 1/1;
  display:grid;
  grid-template-rows: 15px 15px 12px 5px;
  grid-row-gap: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Alata', sans-serif;  height: 100px;
  border-bottom: 3px  rgb(80, 79, 79) solid;
}

.IndiHeaderTitle {
  grid-row: 1/2;
  /* border: 1px black solid; */
  font-family: 'Alata', sans-serif;
  font-size: 30px;
  color: rgb(80, 79, 79);  text-align: left;
  margin-left: 10px
}

.IndiHeaderAuthor {
  grid-row: 2/3;
  /* border: 1px black solid; */
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  color: rgb(80, 79, 79);
  text-align: left;
  margin-top: 5px;
  margin-left: 11px
}

.IndiHeaderTopic {
  grid-row: 3/4;
  /* border: 1px black solid; */
  font-family: 'Alata', sans-serif;
  color: rgb(80, 79, 79);  font-size: 12px;
  text-align: left;
  margin-left: 13px;
  margin-top: 5px;
}

.IndiHeaderDate {
  grid-row: 3/4;
  grid-column: 2/3;
  font-family: 'Alata', sans-serif;
  font-size: 10px;
  text-align: left;
  margin-left: 13px;
  margin-top: 7px;
  color: rgb(80, 79, 79);  font-size: 12px;
}

/* .IndiHeaderVotes {
  grid-row: 1/2;
  border: 1px black solid;
} */

.ArticlePosition {
  grid-column: 2/3;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 10% 30% 20% 30% 10%;
  margin-top: 0px;
  height: 50px;
  width: 400px;
  /* border: 1px black solid; */
}

.ArticleVoteCount {
  grid-column: 3/4;
  width: 20px;
  background: none;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Alata', sans-serif;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 30px;
  color: dimgrey;
}

.ArticleUp {
  grid-column: 2/3;
  background: rgb(202, 202, 202);
  height: 20px;
  width: 100px;
  border-radius: 2mm;
  font-family: 'Alata', sans-serif;
  align-content: center;
  cursor: pointer;
  /* border: 1px black solid; */
  margin-top:15px;

}


.ArticleDown {
  grid-column: 4/5;
  background: rgb(202, 202, 202);
  height: 20px;
  width: 100px;
  font-family: 'Alata', sans-serif;
  border-radius: 2mm;
  align-content: center;
  cursor: pointer;
  /* border: 1px black solid; */
  margin-top:15px;
}

.ArticleBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y:scroll;
  grid-column: 1/3;
  grid-row: 2/5;
  font-family: 'Alata', sans-serif;
  color: dimgrey;
  text-align: left;
  margin: 15px;
  /* border: 1px black solid */
}

.ArticleTitle {
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: 'Alata', sans-serif;  font-size: 20px;
  text-align: left;
}

.ArticleAuthor {
  grid-row: 2/2;
  font-family: 'Alata', sans-serif;  font-size: 15px;
  text-align: left
}

.ArticleTopic {
  grid-column: 1/2;
  grid-row: 3/3;
  font-family: 'Alata', sans-serif;  font-size: 12px;
  width: 1fr;
  text-align: left;
}

.ArticleDate {
  grid-column: 2/4;
  grid-row: 3/3;
  font-family: 'Alata', sans-serif;  font-size: 12px;
  width: 1fr;
  text-align: left;
}

.ArticleVotes {
  grid-column: 4/4;
  grid-row: 1/1;
  font-family: 'Alata', sans-serif;  font-size: 20px;
  width: 1fr;
  text-align: left;
}

.ArticleBody {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  overflow-y:scroll;
  height:500px;
  grid-column: 1/4;
  grid-row: 2/2;
  font-family: 'Alata', sans-serif;  font-size: 17px;
  /* border: 1px black solid */
}

.ShowComments {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 4/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80px;
  /* border: 1px black solid; */
}

.CommentsButton {
  grid-row: 1/2;
  margin-top: 30px;
  height: 30px;
  width: 100px;
  margin-left: 135px;
  font-family: 'Alata', sans-serif;
  background: rgb(202, 202, 202);
  border-radius: 0.5mm;
}

.LeaveComment {
  grid-column: 4/4;
  grid-row: 1/2;
  height: 75px;
  width: 350px;
  display: flex;
  outline: none;
  background: transparent;
  font-family: 'Alata', sans-serif;
  font-size: 12px;
  border: none;
  border-bottom: rgb(136, 136, 136) 1px solid;
}

.PleaseLogIn {
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}


.CommentList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  overflow-y:scroll;
  height: 530px;
  grid-column: 4/4;
  grid-row: 2/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  /* border: 1px black solid; */
}

.ShowCommentsButton {
  grid-column: 1/1;
  grid-row: 1/2;
}

.LeaveCommentButton {
  background: rgb(214, 214, 214);
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 0.5mm;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Loading {
  text-align: center;
}

.ArticlesList {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  overflow: hidden;
  overflow-y:scroll;
  height: 550px;
  grid-column: 1/5;
  grid-row: 2/9;
  font-family: 'Alata', sans-serif;  font-size: 30px;
}

.ListItemEven {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  background: #f0fafd;
  width: 3fr;
  height: 100px;
  font-family: 'Alata', sans-serif;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.ListItemOdd {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100px;
  text-align: center;
  border-radius: 2mm;
  font-family: 'Alata', sans-serif;
  background:white;
  align-content: center;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.ArticleListItem {
  grid-column: 1/3;
  grid-row: 1/4;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 12px;
  border-right: #d7e2e6 5px solid;

}

.ArtCardTitle {
  grid-column: 1/2;
  grid-row:1/2;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
  color: dimgrey;
}

.ArtCardAuthorBlock {
  grid-column: 1/2;
  grid-row:2/3;
  text-align: left;
  font-size: 15px;
  color: dimgrey;
  display: grid;
  margin-left: 20px;
}

.ArtCardTopic {
  grid-column: 1/2;
  grid-row:3/4;
  margin-left: 20px;
  text-align: left;
  font-size: 12px;
  color: dimgrey;
}

.ArtCardDate {
  grid-column: 1/2;
  grid-row:3/4;
  text-align: left;
  font-size: 12px;
  color: dimgrey;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  margin-right: 5px;
}

.ArtCardComments {
  margin-right: 5px;
  grid-column: 1/2;
  grid-row:1/2;
  font-size: 12px;
  color: dimgrey;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.ArtCardVotes {
  grid-column: 2/2;
  grid-row:1/2;
  /* margin-left: 30px; */
  text-align: left;
  font-size: 10px;
  color: dimgrey;
  height: 80px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ArtCardVoteCount {
  grid-column: 2/3;
  background: none;
  border: none;
  display: flex;
  margin-top: 30%;
  font-family: 'Alata', sans-serif;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-size: 40px;

  /* width: 30px */
}

.ArtCardUp {
  grid-column: 1/2;
  width: 50%;
  margin-top: 41%;
  margin-left: 50%;
  background: rgb(202, 202, 202);
  font-family: 'Alata', sans-serif;
  height: 35%;
  border-radius: 2mm;
  align-content: center;
  cursor: pointer;
}

.ArtCardDown {
  grid-column: 3/4;
  background: none;
  border: none;
  background: rgb(202, 202, 202);
  font-family: 'Alata', sans-serif;
  border-radius: 2mm;
  height: 35%;
  width: 50%;
  align-content: center;
  margin-top: 41%;
  margin-right: 50%;
  cursor: pointer;
}

.ArrowUpButton {
  grid-column: 1/2;
  background: none;
  border: none
}

.ArrowDownButton {
  grid-column: 3/4;
  background: none;
  border: none
}

.CommentEven {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 2fr;
  background: #f0fafd;
  width: 3fr;
  font-family: 'Alata', sans-serif;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  column-gap: 0px;
}

.CommentOdd {
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 2fr;
  background: white;
  width: 3fr;
  /* height: 8%; */
  font-family: 'Alata', sans-serif;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  column-gap: 0px;
}

.CommentAuthor {
  grid-column: 1/2;
  grid-row:1/2;
  margin-left: 10px;
  text-align: left;
  font-size: 15px;
  color: dimgrey;
}

.CommentBody {
  grid-column: 1/4;
  grid-row:2/2;
  text-align: left;
  font-size: 12px;
  color: dimgrey;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 20px;
}

.CommentDate {
  grid-column: 3/3;
  grid-row:3/4;
  margin-left: 20px;
  margin-right: 6px;
  text-align: left;
  font-size: 8px;
  color: dimgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CommentVotes {
  grid-column: 3/3;
  grid-row:1/2;
  text-align: left;
  font-size: 8px;
  color: dimgrey;
  height: 20px;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
}

.CommentVoteCount {
  grid-column: 3/4;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 30px
}

.CommentUp {
  grid-column: 2/3;
  background: none;
  /* border: none; */
  font-size: 10px;
  height: 1fr;
}

.CommentDown {
  grid-column: 4/5;
  background: none;
  /* border: none; */
  font-size: 10px;
  height: 1fr;
}

.DeleteComment {
  grid-column: 2/2;
  grid-row:1/2;
  margin-left: 20px;
  text-align: center;
  font-size: 8px;
  height: 25px;
  width: 50px;
  background: rgb(202, 202, 202);
  font-family: 'Alata', sans-serif;
  border-radius: 0.5mm
}
