* {
  padding: 0px;
  margin: 0px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 6fr 1fr;
  text-align: center;
  border: 1px black solid;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.UserText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.Main {
  grid-column: 1/6;
  grid-row: 2/3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Logo {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid;
  height: 100px;
}

.HomeButton {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid;
  height: 100px;
}

.SearchBar {
  grid-column:3/4;
  grid-row: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid;
  height: 100px;
}

.Username {
  grid-column: 4/5;
  grid-row: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid;
  height: 100px;
}

.Login {
  grid-column: 5/6;
  grid-row: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid;
  height: 100px;
}

.ArticleDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(1fr 4) 1fr;
  grid-row:2/3;
}

.ArticlesHeader {
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  border: 1px black solid;
  font-size: 30px;
}

.Sort {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px black solid;
  grid-column: 3/4;
  grid-row: 1/1;
  height: 100px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr
}

.SortBy {
  grid-row: 1/1;
}

.IndividualHeader {
  grid-column: 1/4;
  grid-row: 1/1;
  display:grid;
  grid-template-rows: 15px 15px 12px 5px;
  grid-row-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  border: 1px black solid;
}

.ArticlesList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y:scroll;
  height: 541px;
  grid-column: 1/4;
  grid-row: 2/9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid
}

.ArticleBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y:scroll;
  grid-column: 1/3;
  grid-row: 2/5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px black solid
}

.ArticleTitle {
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.ArticleAuthor {
  grid-row: 2/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left
}

.ArticleTopic {
  grid-column: 1/2;
  grid-row: 3/3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 1fr;
  text-align: left;
}

.ArticleDate {
  grid-column: 2/4;
  grid-row: 3/3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 1fr;
  text-align: left;
}

.ArticleVotes {
  grid-column: 4/4;
  grid-row: 1/1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 1fr;
  text-align: left;
}

.ArticleBody {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  overflow-y:scroll;
  height:500px;
  grid-column: 1/4;
  grid-row: 2/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 1px black solid
}

.ShowComments {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column: 4/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px black solid;
}

.CommentList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  overflow-y:scroll;
  height: 500px;
  grid-column: 4/4;
  grid-row: 2/2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px black solid;
}

.ShowCommentsButton {
  grid-column: 1/1;
  grid-row: 1/2;
}

.Loading {
  text-align: center;
}

.ListItemEven {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  background: #f0fafd;
  width: 3fr;
  height: 3fr;
  text-align: center;
  border-radius: 2mm;
  align-content: center;
  font-size: 15px;
  /* border: 1px black solid */
}

.ListItemOdd {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  width: 3fr;
  height: 3fr;
  text-align: center;
  border-radius: 2mm;
  background:white;
  align-content: center;
  font-size: 15px;
  /* border: 1px black solid */
}


